    .hide{
        display: none;
    }
    .billboard{
        height: auto;
        width: 30%;
        border: black;
        border-width: medium;
        border-style: solid;
        word-wrap: break-word;
        margin: auto;
        min-width: 250px;
        max-width: 450px;
    }

    .billboard p {
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
    }

    .billboard .alert {
        color: red;
    }


    .billboard .notify {
        color: green;
    }


    .index_text{
      line-height:2;
      font-size: 15px;
    }
    .index_container{
        margin-left: 50px;
    }
    
    .index_header{
        margin-top: 50px;
        font-size:50px;
    }