
    .index_text{
      line-height:2;
      font-size: 15px;
    }
    .index_container{
        margin-left: 50px;
    }
    
    .index_header{
        margin-top: 50px;
        font-size:50px;
    }